nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    a {
      color: white;
      text-decoration: none;
      margin-right: 15px;

      &:hover {
        text-decoration: underline;
      }
    }

    .btn-logout {
      background-color: #ff4d4d;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 8px 15px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #e60000;
      }

      &:active {
        background-color: #cc0000;
      }
    }

    .btn-create{
      background-color: #4da6ff;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 8px 15px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-left: auto;

      &:hover {
        background-color: #0068e6;
      }

      &:active {
        background-color: #4da6ff;
      }
    }
  }
