<div class="product-list p-4">
  <h2 class="titre-tableau text-center text-blue-600 text-xl font-bold mb-4">
    Produits du magasin "<strong>{{ nameStore }}</strong>"
  </h2>

  <div class="flex justify-between mb-5" *ngIf="canModify(storeId)">
    <button
      pButton
      type="button"
      label="Changer de magasin"
      icon="pi pi-map-marker"
      (click)="openChangeMagasin()"
      class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 "
    ></button>
  <button
    pButton
    type="button"
    label="Ajouter un produit"
    icon="pi pi-plus"
    (click)="openCreateProductDialog()"
    class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 "
  ></button>
  </div>
    <app-table-product
     [product]="products"
     [categories]="categories"
     [canModify]="canModify(storeId)"
    >
    </app-table-product>

  </div>
