<div class="product-list p-4">
  <h2 class="titre-tableau text-center text-blue-600 text-xl font-bold mb-4">
    Produits du magasin "<strong>{{ nameStore }}</strong>"
  </h2>

  <div class="flex flex-row-reverse" *ngIf="canModify(storeId)">
  <button
    pButton
    type="button"
    label="Ajouter un produit"
    icon="pi pi-plus"
    (click)="openCreateProductDialog()"
    class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 "
  ></button>
  </div>

  <div class="card bg-white rounded-lg shadow-lg">
    <div class="container-tableau overflow-x-auto rounded-lg">
      <p-table
        #dt2
        [value]="products"
        dataKey="id"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        [globalFilterFields]="['name', 'category', 'price', 'quantity']"
        [tableStyle]="{ 'min-width': '75rem' }"
      >
        <!-- En-tête avec filtres -->
        <ng-template pTemplate="header">
          <tr class="text-left">
            <th style="width:30%" class="py-2 px-4">Nom</th>
            <th style="width:20%" class="py-2 px-4">Catégorie</th>
            <th style="width:20%" class="py-2 px-4">Prix (€)</th>
            <th style="width:20%" class="py-2 px-4">Quantité</th>
            <th style="width:10%" class="py-2 px-4">Actions</th>
          </tr>
          <tr>
            <th class="py-2 px-4">
              <p-columnFilter
                type="text"
                field="name"
                ariaLabel="Filtrer le nom"
                class="block w-full focus:ring-blue-500 focus:border-blue-500"
              ></p-columnFilter>
            </th>
            <th class="py-2 px-4">

            </th>
            <th class="py-2 px-4 filtre-numerique">
              <p-columnFilter
                type="numeric"
                matchMode="lte"
                field="price"
                ariaLabel="Filtrer par prix"
                class="block w-full rounded-md focus:ring-blue-500 focus:border-blue-500"
              ></p-columnFilter>
            </th>
            <th class="py-2 px-4 filtre-numerique">
              <p-columnFilter
                type="numeric"
                matchMode="lte"
                field="quantity"
                ariaLabel="Filtrer par quantité"
                class="block w-full rounded-md focus:ring-blue-500 focus:border-blue-500"
              ></p-columnFilter>
            </th>

            <th class="py-2 px-4">
              <!-- Pas de filtre pour les actions -->
            </th>
          </tr>
        </ng-template>

        <!-- Corps -->
        <ng-template pTemplate="body" let-product>
          <tr>
            <td class="py-2 px-4">{{ product.name }}</td>
            <td class="py-2 px-4">{{ getCategoryName(product.categoryId) }}</td>
            <td class="py-2 px-4" [appEuroCurrency]="product.price"></td>
            <td class="py-2 px-4">{{ product.quantity }}</td>
            <td class="py-2 px-4">
              <div class="action-buttons flex gap-2" *ngIf="canModify(storeId)">
                <button
                  pButton
                  type="button"
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-text p-button-info button-with-border"
                  (click)="editProduct(product)"
                  title="Modifier"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>

        <!-- Message pour tableau vide -->
        <ng-template pTemplate="emptymessage">
          <tr class="min-h-[200px]">
            <td colspan="5" class="text-center py-4">Aucun produit trouvé.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
