@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input{
  height: 35px;
}

.p-inputnumber-button-group{
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1));
  border-radius: 0 6px 6px 0;
  height: 35px;
}

.filtre-numerique .p-icon{
  color: white;
}
